<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.technikumwien.mc2020">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.launcher.LauncherActivity">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        For the main activity I specify two important bits
        1. Always display the content in portrait mode
        1.2 Suppress the warning....
        2. Hide the title bar, we do not need it TODO -->
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/filterCriteriaSettings"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity android:name=".ui.detail.DetailActivity" />
        <activity android:name=".ui.list.ListActivity" />
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>